body {
    background: white url("images/b3.jpg");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

a:link {
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    font-size: 20px;
}

a:active {
    text-decoration: underline;
    font-size: 20px;
}